<section>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

  <h2 mat-dialog-title>Add user</h2>

  <div class="gap-16">
    <mat-form-field class="example-form-field">
      <mat-label>First Name</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.firstName">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    
    <mat-form-field class="example-form-field">
      <mat-label>Last Name</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.lastName">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field class="example-form-field display-unset">
      <mat-label>E-Mail</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.email">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  
  <div class="full-width">
    <mat-form-field class="example-form-field display-unset">
      <mat-label>Enter your Birthdate</mat-label>
      <input [disabled]="loading" matInput [matDatepicker]="datepicker" [(ngModel)]="birthDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="full-width">
    <mat-form-field class="example-form-field display-unset">
      <mat-label>Street + House No.</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.street">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  
  <div class="gap-16">
    <mat-form-field class="example-form-field">
      <mat-label>Zip Code</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.zipCode">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    
    <mat-form-field class="example-form-field">
      <mat-label>City</mat-label>
      <input [disabled]="loading" matInput type="text" [(ngModel)]="user.city">
      @if (firstName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  
  <mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">No Thanks</button>
    <button [disabled]="loading" mat-button [mat-dialog-close]="" (click)="saveUser()">Ok</button>
  </mat-dialog-actions>
  
</section>

