<mat-card class="user-deatil-header">
    <div class="user-detail">
        <img src="assets/img/blank-profile-picture-973460_640.png" alt="">
        <div>
            <h2>{{ userDetails.firstName }} {{ userDetails.lastName }}</h2>
            {{ userDetails.email }}
        </div>
    </div>
</mat-card>

<mat-card class="mg-top-32">
    <mat-card-header>
        <mat-card-title>Adress</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ userDetails.street }} <br>
        {{ userDetails.zipCode }} {{ userDetails.city }}
    </mat-card-content>
</mat-card>