<mat-card appearance="outlined">
  <table class="user-table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>
      @for (item of (this.userService.items$ | async); track item) {
        <tr>
          <td>{{ item['firstName'] }} {{ item['lastName'] }}</td>
          <td>{{ item['email'] }}</td>
          <td>{{ item['city'] }}</td>
        </tr>
      }
    </tbody>
  </table>
</mat-card>

<button (click)="openDialog()" class="position-btn" mat-fab
        matTooltip="Add user"
        matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>